<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/about_application.css}" href="../static/css/about_application.css"/>
    <title>About page</title>
</head>

<body>
<div class="title">
    <h1>Read about application</h1>
</div>
<div class="about_text">
    <h3>
        <p>Spring Boot is the starting point for building all Spring-based applications.
            Spring Boot is designed to get you up and running as quickly as possible,
            with minimal upfront configuration of Spring.</p>

        <li>Get started in seconds using Spring Initializr</li>

        <li> Build anything - REST API, WebSocket, Web, Streaming, Tasks, and more</li>

        <li>Simplified Security</li>

        <li>Rich support for SQL and NoSQL</li>

        <li>Embedded runtime support - Tomcat, Jetty, and Undertow</li>

        <li>Developer productivity tools such as live reload and auto restart</li>

        <li>Curated dependencies that just work</li>

        <li>Production-ready features such as tracing, metrics and health status</li>

        <li>Works in your favorite IDE - Spring Tool Suite, IntelliJ IDEA and NetBeans</li>

    </h3>
</div>
</body>
</html>