<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>InvoicePage</title>

    <link rel="stylesheet" th:href="@{/css/invoice_page.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css"/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/invoice.js}"></script>


</head>

<body onload="init()">

<div class="title">
    <h1 th:text="#{invoice_page.message}"></h1>
</div>

<form th:action="@{/invoice_page}" th:object="${createInvoiceRequest}" method="post" class="components">
    <div>
        <select id="selectedProduct" class="choose_box_product">
            <option class="test" th:each="product : ${products}" th:value="${product.id}" th:text="${product.productName}"></option>
        </select>
        <input th:placeholder="#{invoice_page.quantity}" type="text" id="quantity" class="input_quantity"/>
        <input type="button" class="add-row" th:value="#{invoice_page.add_row_button}"/>
    </div>

    <div class="invoice_type">
        <label for="selectedInvoice" th:text="#{invoice_page.invoice_type}"/>
        <select id="selectedInvoice" class="choose_box" th:field="*{invoiceType}">
            <option th:each="invoiceType : ${invoiceTypes}" th:value="${invoiceType}" th:text="${invoiceType}">
            </option>
        </select>
        <table border="1px" class="table">
            <tr class="table_head">
                <th></th>
                <th th:text="#{invoice_page.table_product}"></th>
                <th th:text="#{invoice_page.table_quantity}"></th>
            </tr>
        </table>
    </div>
    <input class="create_invoice_button" type="submit" th:value="#{invoice_page.create_button}"/>
</form>

</body>
</html>
