<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/invoice_creation_complete.css}" href="../static/css/invoice_creation_complete.css"/>
    <title>Creation complete</title>
</head>
<body>
    <div class="title">
        <h3 th:text="#{invoice_complete_page.message}"></h3>
    </div>

    <div class="back_button">
        <a href="/" th:text="#{invoice_complete_page.return_button}"></a>
    </div>
</body>
</html>