<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Welcome page</title>
    <link href="../static/css/welcome_page.css" th:href="@{/css/welcome_page.css}" rel="stylesheet"/>
</head>

<body>
<div class="title">
    <h1>Welcome in Inventory Management Application</h1>
</div>
<div class="button">
    <a href="/invoice_page">Create invoice</a>
</div>
<div class="button">
    <a href="/report">Reporting</a>
</div>
<div class="button">
    <a href="/test">Show invoice history</a>
</div>
<div class="button">
    <a href="/about_application">About application</a>
</div>
</body>

</html>

