body{
    background-image: url(../image/fon4.jpg);
}

.title{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: #28d1e0;
}

.table{
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.table_head{
    background-color: #415557;
    text-transform: uppercase;
}

.table_body{
    background-color: chartreuse;
}

.table td{
    color: black;
    background-color: chartreuse;
}

.choose_box{
    border-radius: 4px;
    border:2px solid #55abf2;
    text-align: center;
    text-transform: uppercase;
    background-color: #415557;
    color: white;
    padding: 10px 27px;
    margin-top: 30px;
}

.choose_box_product{
    border-radius: 4px;
    border:2px solid #55abf2;
    text-align: center;
    text-transform: uppercase;
    background-color: #415557;
    padding: 10px 37px;
    margin-top: 30px;
}

.input_quantity{
    width: 200px;
    height: 15px;
    padding: 10px 7px;
    border-radius: 4px;
    border:2px solid #55abf2;
    text-transform: uppercase;
}

.test{
}

.add-row{
    padding: 10px 20px;
    border-radius: 4px;
    border:2px solid #55abf2;
    text-transform: uppercase;
    background-color: #415557;
    color: #28d1e0;
}

.delete_button{
    padding: 10px 7px;
    border-radius: 4px;
    border:2px solid #55abf2;
    text-transform: uppercase;
    background-color: #415557;
    color: #28d1e0;
}

.invoice_type{
    color: #28d1e0;
}

.create_invoice_button{
    padding: 10px 20px;
    border-radius: 4px;
    border:2px solid #55abf2;
    text-transform: uppercase;
    background-color: #415557;
    color: #28d1e0;
    margin-top: 20px;
}

.components{
    margin-left: 200px;
}
