body {
    background-image: url(../image/fon4.jpg);
}

.title{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: #28d1e0;
}

.table {
    border: 1px solid black;
    width: 100%;
    margin-top: 50px;
}

.table_title{
    background-color: deepskyblue;
    font-style: oblique;
}

.table_body{
    background-color: chartreuse;
    text-align: center;
}