body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-image: url(../image/fon4.jpg);
}

div {
	box-sizing: border-box;
}

#navbar {
	margin-top: 10px;
	padding: 7px 17px;
	margin-left: 20px;
	list-style-type: none;
	border: 2px solid #28d1e0;
	border-radius: 20px 5px;
	width: 250px;
	text-align: center;
	background-color: #415557;
}
#navbar li { display: inline; }

#navbar span{
	color: deepskyblue;
	background: #415557;
}

.title{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
	color: #28d1e0;
}

.button {
	background: #415557;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.button a{
	color: #28d1e0;
}